.features{
  padding-top: 100px;
  padding-bottom: 130px;
  .features_right{
    padding-top: 50px;
    padding-left: 140px;
    @include max-screen(767px){
      display: flex;
      flex-direction: column;
      padding-left: 15px;
      align-items: center;
    }
    h2{
      color: #0B132A;
      font-family:"Rubik",sans-serif;
      font-size: 35px;
      font-style: normal;
      font-weight: 500;
      line-height: 50px;
      margin-bottom: 20px;
      @include max-screen(991px){
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 10px;
      }
      @include max-screen(767px){
        text-align: center;
      }

    }
    p {
      color: #4F5665;
      font-family: "Rubik", sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      margin-bottom: 20px;
      @include max-screen(991px){
        margin-bottom: 10px;
      }
      @include max-screen(767px){
        text-align: center;
      }
    }
    ul{
      list-style: none;
      padding: 0;
      li{
        margin-bottom: 15px;
        @include max-screen(991px){
          margin-bottom: 7px;
        }
        img{
          margin-right: 15px;
        }


      }
    }
  }
}