.global_network{
  padding: 75px 0 60px;
  text-align: center;
  .container-xxl{
    .services_group{
      article{
        a{
          max-width: 100%;
          display: inline-block;
        }
      }
      .owl-stage {
        justify-content: center;
        display: flex;
        align-items: center;
        .owl-item{
          text-align: center;
        }
      }



    }
  }
h2{
  margin-bottom: 20px;
  color: #0B132A;
  font-family:"Rubik",sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
}
  p{
    margin-bottom: 50px;
    color: #4F5665;
    font-family:"Rubik",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
  }
}
